// blog section
.blog-wrapper{
    background: $white;
    box-shadow: 0px 3px 40px $shadow-bg;
    border: none;
    .card-footer{
        background-color: $white;
        border: none;
        a{
            padding: 10px 15px 10px;
        }
    }
    .wrapper-content{
        padding: 20px 30px 0;
        .description{
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
    }
}