.category-navigation{
    background-color: $dark-black;
    padding: 15px 0 10px;
    .input-group-append{
        border-radius: 0;
        background: $sky-blue;
        height: 44px;
        button{
            background-color: transparent!important;
            border: 0!important;
            img{
                width: 30px;
            }
        }
    }
   .dropdown{
        border-right: 1px solid $border-light;
        padding-top: 5px;
    .dropdown-toggle{
        background-color: transparent;
        border: 0;
        font-family: $font-weight-bold;
        &:focus{
            background-color: transparent;
        }
        &::after{
            background: url(../images/icon-dropdown.svg) 5px 0 no-repeat;
            background-size: 10px;
            width: 20px;
            height: 15px;
            border: none;
            position: absolute;
            top: 15px;
        }
    }
   }
    input{
        background-color: $sky-blue;
        border: none!important;
        border-radius: 0;
        width: 100%;
        color: $white;
        padding: 10px 20px;
        margin-bottom: 7px;
    }
}


@media only screen and (max-width:767px){
    .navigation ul li a {
        font-size: $font-12;
        line-height: 10px;
        padding: 17px 12px 13px;
    }
    .navigation{
        text-align: center;
    }
    .category-navigation{
        .dropdown{
            border-right: 0;
            margin-bottom: 10px;
        }
    }
}