.details-banner{
    p{
        line-height: 29px;

        a{
            font-family: $font-weight-bold;
            color: $link-color;
            text-decoration: underline;
        }
    }
}

@media only screen and (max-width:767.98px){
    .details-banner{
        .author-wrapper{
            .author-name, .publish-date, .publish-date{
                width: 100%;
            }
        }
    }
}