
// events section
.events-section{
    background: $light-bg;
}

@media only screen and (max-width:991.98px){
    .theme-btn-group{
        button{
            width: 100%;
        }
    }
}


@media only screen and (max-width:767.98px){
    .events-section{
        text-align: center;
        .btn{
            margin-right: 0!important;
            margin-top: 20px;
        }
    }
}