.modal{
    .modal-dialog{
        width: 100%;
        height: 100%;
        max-width: 100%;   
        .modal-body{
            padding: 0;
            iframe{
                width: 100%;
                height: 100%;
            }
        }
    }
    .modal-content{
        width: 900px;
        height: 506px;  
        margin: 0 auto; 
        overflow: visible;
    }
    .btn-close{
        position: absolute;
        right: -26px;
        top: -26px;
        color: $white;
        opacity: 1;
        font-size: $font-22;
        font-family: $font-weight-medium;
    }
}



@media only screen and (max-width:991.98px){
    .modal .modal-content{
        width: 90%;
    }
}


@media only screen and (max-width:767.98px){
    .modal{
        .modal-content{
            width: 80%;
            height: auto;
            margin-top: 30px;
        }
    }
}