.related-tags{
    margin: 40px 0;
    padding: 30px 0;
    border-top: 1px solid $grey-border;
    border-bottom: 1px solid $grey-border;
    button{
        font-family: $font-weight-bold;
        font-size: $font-16;
        line-height: 29px;
        letter-spacing: 0px;
        color: $theme-text;
        background: $grey-bg;
        border: 1px solid $link-color;
        padding: 5px 20px;
        margin-right: 20px;
        margin-top: 10px;
    }
}