@media only screen and (max-width:767px){
    .main-heading{
        text-align: center;
        font-size: $font-24;
        line-height: 36px;
    }
    .sub-heading {
        font-size: $font-16;
        line-height: 25px;
    }
    p{
        font-size: $font-14;
        line-height: 22px;
    }
    .link-button{
        font-size: $font-14;
        line-height: 33px;
    }
    .popular-name {
        font-size: $font-16;
        line-height: 25px;
    }
    .feature-tag p {
        font-size: $font-12;
        line-height: 32px;
    }
    .tag-heading {
        font-size: $font-14;
        line-height: 30px;
    }
    .navigation ul li a {
        font-size: $font-12;
        line-height: 10px;
        padding: 17px 12px 13px;
    }
    .events-section{
        text-align: center;
        .btn{
            margin-right: 0!important;
            margin-top: 20px;
        }
    }
    .navigation{
        text-align: center;
    }
    .subscribe-section{
        text-align: center;
        input[type="text"]{
            margin: 25px 0;
            width: 100%;
        }
    }
    .banner-heading {
        font-size: $font-18;
        line-height: 26px;
    }
    .banner-wrapper{
        background: $white;
        box-shadow: 0px 3px 40px $shadow-bg;
        padding: 10px 25px;
    }
}