.progress-container {
  width: 100%;
  height: 3px;
  background: #ccc;
  margin-top: 65px;
}

.progress-bar {
  height: 3px;
  background: #04AA6D;
  width: 0%;
}

.header {
  position: fixed;
  width: 100%;
}