.table-content{
    background: $light-bg;
    padding: 30px;
    margin-top: 50px;
    .sub-heading{
        span{
            cursor: pointer;
        }
    }
    .accordion{
        transition: all 0.5s;
        &.hide {
            opacity: 0;
            transition: all 0.5s;
            display: none;
        }
       .accordion-item{
            border: none;
            background: transparent;
            padding-bottom: 10px;
            .accordion-header{
                border: none;
                .accordion-button{
                    border: none;
                    background: transparent;
                    font-family: $font-weight-medium;
                    line-height: 30px;
                    font-size: $font-16;
                    padding: 0;
                    display: flex;
                    align-items: baseline;

                    &::after{
                        display: none;
                    }
                    &.collapsed{
                        img{
                            transform: rotate(180deg);
                            transition: 0.5s;
                            margin-left: 13px;
                        }
                    }
                    span{
                        padding-right: 13px;
                    }
                    img{
                        margin-left: 13px;
                        transition: 0.5s;
                    }
                    &:focus{
                        outline: none;
                        box-shadow: none;
                    }
                }
            }
       }
       .accordion-body{
            font-family: $font-weight-medium;
            line-height: 24px;
            font-size: $font-14;
       }
       .accordion-collapse{
        border: none;
       }
    }
    ul{
        list-style: auto;
        li{
            font-family: $font-weight-medium;
            line-height: 38px;
        }
    }
}