
// colors
$theme-text: #290A38;
$link-color: #14B5F0;
$white: #FFFFFF;
$orange: #FF6329;
$light-blue: #422661;
$light-bg: #FAF5F2;
$shadow-bg: #AFAFAF26;


// font sizes
$font-14: 14px;
$font-16: 16px;
$font-17: 17px;
$font-18: 18px;
$font-19: 19px;
$font-22: 22px;
$font-23: 23px;
$font-32: 32px;


// font weight
$font-weight-normal: 'Sharp Sans';
$font-weight-medium: 'sharp_sansmedium';
$font-weight-semibold: 'sharp_sanssemibold';
$font-weight-bold: 'sharp_sansbold';
$font-weight-extrabold: 'sharp_sansextrabold';