// video section
.video-section{
    background: $theme-text;
    background-size: cover;
    iframe{
        height: 100%;
        width: 100%;    
    }
    .iframe-wrapper{
        height: 218px;
    }
    .splide__list{
        display: flex!important;
        li{
            display: inline-block;
            width: 33%;
            padding: 0 10px;
        }
    }
    .video-wrapper{
        margin-bottom: 30px;
        p{
            color: $white;
            padding-right: 20px;
        }
        h2{
            padding-top: 35px;
        }
        .author-wrapper{
            padding-top: 10px;
            ul{
                padding-left: 0;
                display: flex;
                li{
                    width: auto;
                    position: relative;
                    color: $white;
                    padding: 0;
                    font-size: $font-14;
                    padding: 0 15px;
                    font-family: $font-weight-medium;
                    &::after{
                        position: absolute;
                        content: '';
                        height: 4px;
                        width: 4px;
                        background: $white;
                        left: 0;
                        bottom: 8px;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}