// video section
.video-section{
    background-color: $theme-text;
    
    .video-wrapper{
        margin-bottom: 30px;
        p{
            color: $white;
            padding-right: 20px;
        }
        h2{
            padding-top: 35px;
        }
        .author-wrapper{
            padding-top: 10px;
        }
    }
}