// video section
.video-section{
    background: $theme-text;
    background-size: cover;
    .splide__list{
        display: flex!important;
        li{
            display: inline-block;
            width: 33%;
            padding: 0 10px;
        }
    }
    .video-wrapper{
        margin-bottom: 30px;
        p{
            color: $white;
            padding-right: 20px;
        }
        h2{
            padding-top: 35px;
        }
        .author-wrapper{
            padding-top: 10px;
        }
    }
}