.webinar{
    .splide__list{
        display: flex!important;
        li{
            display: inline-block;
            width: 33%;
            padding: 0 10px;
        }
    }
    .wrapper-content{
        margin-bottom: 20px;
        a{
            padding-bottom: 20px;
        }
    }
}